<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ProjectPureHtml</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
	<param-name>driverDB</param-name>
	<param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
	<param-name>urlDB</param-name>
	<param-value>jdbc:mysql://localhost:3306/document_management_system</param-value>
  </context-param>
  <context-param>
	<param-name>userDB</param-name>
	<param-value>root</param-value>
  </context-param>
    <context-param>
	<param-name>pwdDB</param-name>
	<param-value>brodi</param-value>
  </context-param>
  <filter>
	<filter-name>AuthFilter</filter-name>
  	<filter-class>filters.AuthFilter</filter-class>
  </filter>
    <filter>
	<filter-name>NoAuthFilter</filter-name>
	<filter-class>filters.NoAuthFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>AuthFilter</filter-name>
	<url-pattern>/GoToHome</url-pattern>
	<url-pattern>/GoToContentPage</url-pattern>
	<url-pattern>/GoToContentManagementPage</url-pattern>
	<url-pattern>/GoToDocumentPage</url-pattern>
  	<url-pattern>/GoToMoveDocument</url-pattern>
  	<url-pattern>/AddDocument</url-pattern>
  	<url-pattern>/AddFolder</url-pattern>
  	<url-pattern>/GoToErrorPage</url-pattern>
  	<url-pattern>/ContentManagement</url-pattern>
  	<url-pattern>/GoBack</url-pattern>
  	<url-pattern>/Logout</url-pattern>
  	<url-pattern>/MoveDocument</url-pattern>
  </filter-mapping>
    <filter-mapping>
	<filter-name>NoAuthFilter</filter-name>
	<url-pattern>/</url-pattern>
	<url-pattern>/GoToRegister</url-pattern>
	<url-pattern>/Login</url-pattern>
	<url-pattern>/Register</url-pattern>
  </filter-mapping>
</web-app>